// /**
//  * Copyright © 2018 Redbox Digital Limited. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .block.widget{
        .widget.block-product-selection {
            .block-title {
                .lib-heading(h3);
                border: 1px solid red;
            }
        }
        .products-grid{
            .widget-product-selection.product-carousel {
                width: auto;
                margin: 0 -8px; 
                padding-bottom: 20px;

                &:not(.slick-initialized) {
                    .product-item {
                        display: none;
                    }
                }
                .lib-clearer();

                .product-items {
                    margin-left: 0;
                }

                .product-item {
                    margin-left: auto!important; // fix for slick slider
                    padding: 0 8px;
                    position: relative;

                    .product-image-container {
                        width: 100%!important;
                    }
                }

                .product-item {
                    .product-item-photo {
                        .product-image-photo {
                            width: 100%;
                        }
                    }
                }
                .slick-dots {
                    bottom: 0;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block.widget{
        .products-grid{
            .widget-product-selection.product-carousel {
                margin: 0 -16px; 

                .product-item {
                    padding: 0 16px;
                }
            }
        }
    }
}
